h1, h2, h3, p {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
}
img {
    display: block;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin: auto 0;
}
.header-logo .logo-part {
    color: #2e2f42;
}

.nav-list {
    display: flex;
    gap: 40px;
}
.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
    padding: 24px 0;
}
.nav-link.active::after {
    content: "";
    display: block;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    position: relative;
    top: 25px;
}

.address {
    font-style: normal;
    margin: auto 0;
}
.address-list {
    display: flex;
    gap: 40px;
}
.address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: block;
}
.nav-link:hover,
.nav-link:focus,
.address-link:hover,
.address-link:focus {
    color: #404bbf;
}
.main-section {
    background-color: #2e2f42;
    padding: 188px 0;
}
.main-section-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin: 0 auto 48px auto;
    max-width: 496px;
    
}
.main-section-title-btn {
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
}
.main-section-title-btn:hover,
.main-section-title-btn:focus {
    background-color: #404bbf;
}
.main-wrapper {
    background-color: rgba(46, 47, 66, 0.7);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.feature-subject {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.feature-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.section-team {
    background-color: #f4f4fd;
}
.subject {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}
.subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.subject-team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-top: 8px;
}
.subject-item {
    background-color: #fff;
    box-shadow:
        0 1px 6px 0 rgba(46,47,66,0.16),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 2px 1px 0 rgba(46, 47, 66, 0.16);
    border-radius: 0 0 4px 4px;
    max-width: 264px;
}

.page-footer {
    background-color: #2e2f42;
    padding: 100px 0;
}
.footer-logo .logo-part {
    color: #f4f4fd;
}
.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
}
.page-header {
    border-bottom: 1px solid #E7E9FC;
}
.nav-container {
    display: flex;
    gap: 76px;
}
.subject-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    row-gap: 48px;
    }
.feature-list {
    display: flex;
    gap: 24px;
}
.section {
    padding: 120px 0;
}
.subtitle-container {
    padding: 32px 16px;
}
.section-portfolio .subtitle-container {
    border-width: 0 1px 1px 1px;
    border-color: rgba(231, 233, 252, 1);
    border-style: solid;
}
.footer-content {
    max-width: 270px;
}
.footer-text {
    margin-top: 16px;
}
.portfolio-wrapper {
    position: relative;
    overflow: hidden;
}
.portfolio-item {
    max-width: 360px;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition: transform 1s ease-in;

    width: 100%;
    height: 100%;
    padding: 40px 32px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background: #4d5ae5;
}
.portfolio-item:hover .overlay {
    transform: translateY(0);
}

.feature-item {
    max-width: 264px;
}

.feature-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
}

.team-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
    margin-top: 8px;
    width: 232px;
    height: 40px;
}
.team-item {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4d5ae5;
    border-radius: 50%;
}
.team-icon {
    fill: #f4f4fd;
}
.footer-text-social {
    font-family: Roboto;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: rgba(255, 255, 255, 1);
}
.social-box {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 16px;
    width: 208px;
    height: 80px;
    margin: 0 auto;
    padding-left: 544px;
}