h1, h2, h3, p {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
}
img {
    display: block;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin: auto 0;
}
.header-logo .logo-part {
    color: #2e2f42;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
    padding: 24px 0;
}


.address {
    font-style: normal;
    margin: auto 0;
}
.address-list {
    display: flex;
    gap: 40px;
}
.address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: block;
}
.nav-link:hover,
.nav-link:focus,
.address-link:hover,
.address-link:focus {
    color: #404bbf;
}
.main-section {
    background-color: #2e2f42;
    padding: 188px 0;
}
.main-section-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin: 0 auto 48px auto;
    max-width: 496px;
    
}
.main-section-title-btn {
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
}
.main-section-title-btn:hover,
.main-section-title-btn:focus {
    background-color: #404bbf;
}

.feature-subject {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.feature-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.section-team {
    background-color: #f4f4fd;
}
.subject {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}
.subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.subject-team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-top: 8px;
}
.subject-item {
    background-color: #fff;
    box-shadow:
        0 1px 6px 0 rgba(46,47,66,0.16),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 2px 1px 0 rgba(46, 47, 66, 0.16);
    border-radius: 0 0 4px 4px;
    max-width: 264px;
}

.page-footer {
    background-color: #2e2f42;
    padding: 100px 0;
}
.footer-logo .logo-part {
    color: #f4f4fd;
}
.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
}
.page-header {
    border-bottom: 1px solid #E7E9FC;
}
.nav-container {
    display: flex;
    gap: 76px;
}
.subject-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    row-gap: 48px;
    }
.feature-list {
    display: flex;
    gap: 24px;
}
.section {
    padding: 120px 0;
}
.subtitle-container {
    padding: 32px 16px;
}
.section-portfolio .subtitle-container {
    border-width: 0 1px 1px 1px;
    border-color: rgba(231, 233, 252, 1);
    border-style: solid;
}
.footer-content {
    max-width: 270px;
}
.footer-text {
    margin-top: 16px;
}
.portfolio-item {
    max-width: 360px;
}
.feature-item {
    max-width: 264px;
}